*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, rgba(25, 33, 25, 0.156), rgba(27, 56, 239, 0.474)),url('../image/furi.jpg');
    text-align: center;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow-x: hidden;
}
.box1{
    margin: 20px;
    padding: 8px;
    border: 2px solid purple;
    width: 150px;
    height: 80px;
}

.box2{
    margin: 50px;
    padding: 50px;
    border: 2px solid blue;
    width: 250px;
    height: 40px;
    background: white;
}

.order{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    transition: .3s ease;
    background-color: white;
    color: rgb(12, 0, 247);
    transition: .3s ease;
    
}
.order:link{
    color: #800080;
    text-decoration: none;
    background-color: #800080 ;
}
.order:hover {
    background: rgb(0, 13, 255);
    color: rgb(255, 255, 255);
  }
.order:active{
    background: rgb(0, 13, 255);
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    font-size: 50px;
    height: 500px;

    
}